<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>心脏病辅助诊断系统-登录</title>
      <link rel="stylesheet" href="static/layui/css/layui.css">
      <link rel="stylesheet" href="/static/layui/css/index.css">
      <link rel="stylesheet" href="/static/layui/css/login.css" media="all">
      <script src="static/layui/layui.js"></script>
      <script src="static/jquery.js"></script>
  </head>
  <body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
          <div class="layui-logo">
              <img src="/static/layui/images/heart_logo.png" class="layui-nav-logo">
              心脏病辅助诊断系统
          </div>
          <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/index">心脏疾病科普</a></li>
            <li class="layui-nav-item"><a href="/heartPredict">心脏病预测</a></li>
            <li class="layui-nav-item"><a href="/record">历史预测记录</a></li>
          </ul>
          <ul class="layui-nav layui-layout-right">
              <li class="layui-nav-item">
                  <i class="layui-icon layui-icon-username" style="font-size: 18px;"></i>
              </li>
            <li class="layui-nav-item">
              {% if username %}
                  <a href="/login">
                        欢迎，{{username}}
                  </a>
              {% else %}
                  <a href="/login">
                      登录
                  </a>
              {% endif %}
            </li>
            <li class="layui-nav-item"><a href="/logout">退出</a></li>
          </ul>
        </div>

        <div class="layui-body">
           <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>用户登录</h2>
                {% if message  %}
                    <blockquote class="layui-elem-quote">
                        {{ message }}
                    </blockquote>
                {% endif %}
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                        for="LAY-user-login-username"></label>
                    <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                        placeholder="用户名或电子邮箱" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                        for="LAY-user-login-password"></label>
                    <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                        placeholder="密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                for="LAY-user-login-vercode"></label>
                            <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                                placeholder="图形验证码" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <img src="/imgCode" onclick="this.src='/imgCode'+'?'+(new Date()).getTime()"
                                    class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="LAY-user-login-submit">登
                        入</button>
                </div>
                <div class="layui-trans layui-form-item layadmin-user-login-other">
                    <label>社交账号登入</label>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>

                    <a href="/resiger" class="layadmin-user-jump-change layadmin-link">注册帐号</a>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>

    <script>

        layui.use(['form', 'layedit', 'laydate'], function(){
          var form = layui.form
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;


          //监听提交
          form.on('submit(LAY-user-login-submit)', function(data){
              console.log('test')
            $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url : "/login",
            //数据，json字符串
            data : JSON.stringify(data.field),
            //请求成功
            success : function(result) {
                console.log(result);
                if (result=='false'){
                    window.location.replace("/login?failure=true");
                }else if (result=='success'){
                    window.location.replace('{{ request_path }}');
                }else if (result=='201'){
                    window.location.replace("/login?failure=201");
                }


            },
            //请求失败，包含具体的错误信息
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
            });
            return false;
          });

        });
    </script>

    <style>
        .layui-body {
            overflow-y: hidden;
        }
        .layui-btn{
                background-color: #1E9FFF!important;
        }
        .layui-elem-quote{
            border-left: 5px solid #db0000!important;
        }
        .layadmin-user-login {
            padding: 50px 0;
        }

        .layadmin-user-login-box {
            padding: 10px;
        }

    </style>
    </body>
</html>

